
.auth-container {
    display: flex;
    margin: auto;
   
  }
  .auth-container button {
    border-radius: 8px;
    padding: 8px 200px;
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    width: 430px;
    font-weight: 500;
    margin:0 !important;
  }
  .big-image {
    height: 100vh;
    overflow: hidden;
  }
  .big-image img {
    width: 42vw;
  }
  .auth-content {
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
  }
  .auth-input {
    width: 85%;
  }
  
  form h1 {
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 0px;
  }
  form h3 {
    color: #727171;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin: 5px;
    margin-bottom: 40px;
  }
  form p {
    color: #463dff;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-left: 30px;
    cursor: pointer;
  }
  .last-p {
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    margin: 15px 0px;
    cursor: pointer;
  }
  input::placeholder {
    color: #000;
    font-family: Outfit;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
  }
  .eye-icon {
    position: absolute;
    height: 25px;
    right: 320px;
    bottom: 305px;
  }
  .mail-icon {
    height: 25px;
    position: absolute;
    right: 320px;
    bottom: 369px;
  }
  .auth-icons {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
    margin-top: 12vh;
    cursor: pointer;
  }
  
  .auth-icons img {
    height: 9vh;
    transition: filter 0.3s ease;
  }
  
  .grey {
    filter: grayscale(100%);
  }
  
  .active {
    filter: grayscale(0%);
  }
  .primary-btn{
    padding: 8px 40px;
    background-color: #ffba07;
    border-radius: 400px;
    border: 3px solid #000;
    font: inherit;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px ;
    font-size: 0.8em;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }