.grid-cours{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
   justify-content: center;
   gap: 10PX;
   width: 100%;
}
.title{
    width:100%;
    display: flex;
    align-items:center;
  justify-content: space-between;
  margin-bottom: 25px;

}
.title h3{
    color: #463DFF;
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.cours{
  margin-top: 30px;
}